@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body * {
        -webkit-font-smoothing: antialiased;
    }
    section.main {
        @apply
            flex
            flex-col
            text-gray-800
            sm:min-h-[calc(100svh-122px)]
            min-h-[calc(100svh-150px)]
    }
    .hamburger-toggle {
        @apply [&>div]:h-0 [&>div]:bg-white [&>div]:before:translate-y-0 [&>div]:before:rotate-45 [&>div]:after:translate-y-0 [&>div]:after:-rotate-45;
    }
    /* Calendar toggle switch */
    button.switch-selected {
        @apply [&>svg]:stroke-white bg-indigo-500 hover:bg-indigo-500 cursor-default;
    }
    /* Weekdays at the calendar */
    .calendar-header{
        @apply
            font-normal
            w-full
            h-8
            md:h-10
            flex
            items-center
            justify-center
            ;
    }
    .calendar-header-small-letters{
        @apply
            hidden lg:inline
    }
    /* days at the calendar */
    .calendar-cell{
        @apply 
            w-full
            h-12
            md:h-20
            flex
            items-center
            justify-center
            ;
    }
    .calendar-cell .day{
        @apply 
            items-center
            justify-center
            flex
            cursor-pointer
            w-8
            md:w-9
            h-8
            md:h-9
            rounded-full
            select-none
            ;
    }
    .today{
        @apply
            text-white
            bg-indigo-500
            ;
    }
    .holiday{
        @apply
            /* border-red-500
            border-2 */
            /* bg-rose-500 */
            text-white
            cursor-default
            bg-du_red
            ;
    }
    .selected {
        @apply 
            /* align center */
            left-1/2
            -translate-x-1/2
            /* align middle */
            top-1/2
            -translate-y-1/2
            absolute
            h-11
            w-11
            bg-indigo-100
            -z-10
            border-2
            border-indigo-700
            rounded-full
            ;
    }
    .selected-start{
        top: calc(50% - 1rem - 6px);
        width: calc(50% + 22px);
        @apply 
            absolute
            right-0
            h-11
            bg-indigo-100
            -z-10
            border-t-2
            border-t-indigo-700
            border-b-2
            border-b-indigo-700
            rounded-s-full
            border-l-2
            border-l-indigo-700
            ;
    }
    .selected-middle{
        top: calc(50% - 1rem - 6px);
        /* width: calc(50% + 22px); */
        @apply 
            absolute
            left-0
            h-11
            w-full
            bg-indigo-100
            -z-10
            border-t-2
            border-t-indigo-700
            border-b-2
            border-b-indigo-700
            ;
    }
    .selected-end{
        top: calc(50% - 1rem - 6px);
        width: calc(50% + 22px);
        @apply 
            absolute
            left-0
            h-11
            bg-indigo-100
            -z-10
            border-t-2
            border-t-indigo-700
            border-b-2
            border-b-indigo-700
            rounded-e-full
            border-r-2
            border-r-indigo-700
            ;
    }
    .selected-days-info{
        /* right: calc(50% - 120px); */
        @apply
            /* left: 50%してからtransform: translateX(-50%);すると横幅可変の中央寄せにできる */
            left-1/2
            -translate-x-1/2
            bottom-10
            w-9/12
            md:w-auto
            fixed
            z-20
            bg-opacity-90
            bg-indigo-100
            border-2
            border-indigo-600
            rounded-xl
    }
    /* Tooltip style */
    .tooltip{
        @apply relative;
    }
    .tooltip-contents {
        @apply 
            invisible
            absolute 
            top-8
            md:top-10
            w-20
            lg:w-28
            bg-black
            text-white
            text-xs
            p-1
            rounded-md
            text-center
            bg-opacity-60
            delay-500
            z-30
            ;
    }
    .tooltip:hover .tooltip-contents {
        @apply visible;
    }
    .tooltip-contents-copied{
        @apply 
            visible
            absolute 
            w-14
            -top-7
            md:-top-7
            bg-black
            text-white
            text-xs
            py-1
            px-2
            rounded-md
            text-center
            bg-opacity-60
            delay-500
            z-10
            overflow-hidden
            ;
    }

    /* Timezone Table */
    .timezone-delete-button-cell{
        @apply p-1 min-w-20;
    }
    .timezone-header-cell {
        @apply
            text-center
            font-normal
            border-t
            border-b
            p-1
            min-w-20
            ;
    }
    .timezone-cell {
        @apply 
            text-right
            border-t
            border-b
            p-1
            min-w-20
            ;
    }
    .calendar-header-container{
        @apply
            flex mb-5 pt-1
    }
    .calendar-header-title{
        @apply
            text-xl md:text-2xl select-none
    }
    .calendar-weekdays{
        @apply
             grid grid-cols-7 text-sm md:text-xl border-b border-gray-200 font-light mb-1 md:mb-3 select-none
    }
    .calendar-controls {
        @apply
            absolute right-0
    }
    .calendar-prev-button{
        @apply
            mr-3
    }
    .calendar-next-button{
        @apply
            mr-5
    }
    textarea.error {
        @apply
            border-red-500
            ring-1
            ring-red-500
            /* focus:ring-red-500 */
    }

    /* Overwrite Multiselect Styles */
    div.multiselect{
        @apply
            h-[43px]
    }
    
    div.multiselect__tags{
        /* width: calc(100vw - 2.5rem - 0.5rem - 61px - 28px - 17px); */
        width: calc(100vw - 3rem - 106px);
        @apply
            /* w-64 */
            sm:w-[30rem]
            lg:w-[41rem]
            h-[43px]
            border-gray-300
            rounded-lg
    }
    .multiselect-error div.multiselect__tags, input.error {
        @apply
            outline
            outline-2
            outline-red-500
            border-transparent
    }

    div.multiselect--active.multiselect div.multiselect__tags{
        @apply
            outline
            outline-2
            outline-indigo-500
            border-transparent
    }
    div.multiselect--active:not(.multiselect--above) .multiselect__tags,
    div.multiselect--above.multiselect--active .multiselect__tags{
        @apply
            rounded-lg
    }
    #timezone-converter-app div.multiselect__tags{
        width: calc(100vw - 2.5rem);
        @apply
            sm:w-full
    }
    div.multiselect__content-wrapper{
        @apply
            w-80
            sm:w-[30rem]
            lg:w-[41rem]
            overflow-x-hidden
            border-gray-300
            rounded-b-lg
            rounded-bl-lg
            shadow-md
    }
    #timezone-converter-app div.multiselect__content-wrapper{
        @apply
            w-full
    }
    span.multiselect__placeholder{
        @apply
            text-[16px]
            placeholder-gray-400
    }
    input.multiselect__input{
        @apply
            p-0
            pt-1
    }
    span.multiselect__single{
        @apply
            p-0
            pt-[0.25rem]
            overflow-hidden
            text-nowrap
            text-gray-700
    }
    span.multiselect__option--highlight,
    span.multiselect__option--highlight::after,
    span.multiselect__option--selected.multiselect__option--highlight{
        @apply
            bg-indigo-500
    }

    .date-picker {
        @apply
            absolute
            w-[270px]
            right-0
            bg-white
            z-50
            border
            border-gray-300
            rounded-lg
            shadow-md
    }
    .date-picker .calendar-header{
        @apply
            h-6
            md:text-sm
            font-normal
    }
    .date-picker .calendar-cell{
        @apply 
            h-10
            text-sm
    }
    .date-picker .calendar-cell .day{
        @apply
            w-7
            h-7
    }
    .date-picker .selected {
        /* top: calc(50% - 1rem - 6px); */
        
        @apply 
            h-9
            w-9
            left-1/2
            -translate-x-1/2
            top-1/2
            -translate-y-1/2
    }
    .date-picker .date-picker-time{
        @apply
            flex
            justify-center
            items-center
            gap-2
            border-t
            border-t-gray-300
            py-2
    }
    .date-picker .select-base{
        @apply
            relative flex justify-center items-center h-7
    }
    .date-picker .select-base .select{
        @apply
            appearance-none
            h-7
            px-2
            bg-white
    }
    .date-picker .calendar-header-container{
        @apply
            p-1 mb-1
    }
    .date-picker .calendar-header-title{
        @apply
            text-lg
    }
    .date-picker .calendar-weekdays {
        @apply
            border-0
            md:mb-1
            md:text-sm
            
    }
    .date-picker .calendar-controls{
        @apply
            top-3
    }
    .date-picker .calendar-prev-button{
        @apply
            mr-1
    }
    .date-picker .calendar-next-button{
        @apply
            mr-2
    }
    .date-picker .calendar-header-small-letters{
        @apply
            lg:hidden
    }
}
